<div class="row" style="background-repeat:no-repeat; background-position:center;padding:50px 0">
  <div class="col-md-3">
    <div class="list-group">
      <a href="" class="list-group-item">About Us</a>
      <a href="" class="list-group-item">Teacher</a>

    </div>
  </div>
  <div class="col-md-8 bg-success text-white">
    <h2 class="text-center">About Us</h2>
    <hr />
    <p style="font-size:large">
      Welcome to Our Schoole , an Ideal school
      and community where the aspirations and potential of every student are fostered,
      nurtured, and challenged.
    </p>
    <p style="font-size:large">
      The School  is dedicated to inspiring within each student the pursuit of knowledge,
      the love of wisdom, an appreciation for beauty, and the development of strong character.
      These values, coupled with physical activity, artistic endeavors, and service to others
      orchestrate educational opportunities unparalleled to none.
    </p>
    <p style="font-size:large">
      From the first moment we were in touch,
      we were impressed with the professionalism and its personal touch.
      Our daughter was challenged and stretched academically beyond what she
      thought possible. As a result of the strong nurturing and supportive
      environment, our daughter was able to realize her potential.
    </p>
  </div>
</div>
