<h1 id="tableLabel">School Index</h1>



<p *ngIf="!SchoolList"><em class="text-info">Loading...</em></p>


<div class="btn-group">
  <button class="btn btn-primary" (click)="LoadList()">
    Refresh
  </button>

  <button type="button" data-toggle="modal" data-target="#SchoolModal" class="btn btn-success">
    Create New
  </button>
</div>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="SchoolList">
  <thead>
    <tr>
      <th>Id</th>
      <th>SchoolName</th>
      <th>Address</th>
      <th>RegistrationNo</th>

      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of SchoolList">
      <td>{{ s.schoolId }}</td>
      <td>{{ s.schoolName }}</td>
      <td>{{ s.schoolAddress }}</td>
      <td>{{ s.registrationNo }}</td>

      <td class="btn-group">
        <button class="btn btn-primary" (click)="GetSchool(s.schoolId)">Edit</button>
        <button class="btn btn-danger" (click)="DeleteConfirmation(s)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>




<!--Modal-->
<div class="modal fade" id="SchoolModal" tabindex="-1" role="dialog" aria-labelledby="SchoolModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <form class="modal-content" #form="ngForm" (ngSubmit)="form.form.valid && SubmitSchool(form)" autocomplete="off" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="SchoolModalLabel">New School</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <input type="hidden" name="schoolId" #schoolId="ngModel" [(ngModel)]="School.schoolId" />
        <div class="form-group">
          <label>School Name</label>
          <input type="text" class=" form-control" name="schoolName"
                 #schoolName="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  schoolName.invalid }" required [(ngModel)]="School.schoolName" />
        </div>

        <div class="row">
          <div class="form-group col-6">
            <label>School Address</label>
            <input type="text" class=" form-control" name="schoolAddress"
                   #schoolAddress="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  schoolAddress.invalid }" required [(ngModel)]="School.schoolAddress" />
          </div>
          <div class="form-group  col-6">
            <label>Registration No</label>
            <input type="text" class=" form-control" name="registrationNo"
                   #registrationNo="ngModel" [ngClass]="{ 'is-invalid': form.submitted &&  registrationNo.invalid }" required [(ngModel)]="School.registrationNo" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SubmitSchool()">Save</button>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="SchoolModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SchoolModalLabel">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="h2 text-warning">Delete {{School.schoolId}}?</span>
      </div>
      <div class="modal-footer btn-group">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="DeleteSchool(School.schoolId)">Yes</button>
      </div>
    </div>
  </div>
</div>
